h1 {
    color:red;
    font-size: 30px;
}

.paragrafo {
    color:green;
    background-color: #000;
}

#segundo-titulo {
    color: purple;
}

p {
    color: red;
}

.box .paragrafo-box {
    color: blue;
}