#primeiro-titulo {
    position: absolute;
    top: 0;
    left: 300px;
}

#pai {
    position: relative;
    width: 200px;
    height: 200px;
    top: 30px;
}

#fixo {
    position:fixed;
    top: 20px;
    right: 10px;
    background-color: red;
    color: white;        
}